*{
    margin: 0;
    padding: 0;
}

/*全体*/
body{
    margin: 0 20px;
}

/* ヘッダ（タイトル）*/
.header_1{
    background-color: #ffcc00;
    font-family: "游明朝";
    font-size: 28px;
    width: 240px;
}

.header_2{
    font-size: 40px;
}

/*ナビゲーション*/
.nav{
    background-color: #ccff00;
    border: 1px solid #0000ff;
    color: #ffffff;
    font-size: 32px;
    display: inline;
}

nav{
    margin-bottom: 2px;
}

/*サイドバー*/
.sidebar{
    background-color: #336666;
    color: #ffffff;
    float: left;
    width: 200px;
    height: 1000px;
}

.sidebar_text{
    margin-bottom: 40px;
}

.sidebar_ul{
    list-style-type: square;
    list-style-position: inside;
    padding-left: 20px;
    font-size: 32px;
}

/*コンテンツ*/
#contents{
    background-color: #ff9999;
    padding-left: 260px;
    height: 1000px;
}

#chinese{
    width: 40%;
    margin-top: 100px;
}

#store th, td{
    width: 200px;
    text-align: center;
    border: 1px solid #000000;
}

.C_ccffff{
    background-color: #ccffff;
}

.C_66ffff{
    background-color: #66ffff;
}

/*フッタ*/
footer{
    clear: both;
    background-color: #669933;
    height: 50px;
}