#table{
    border-collapse: collapse;
}

th, td{
    width: 150px;
    border: 1px solid #000000;
    text-align: center;
}

th{
    background-color: #0099ff;
}

/*以下は、演習問題で使用*/
.C_ccffff{
    background-color: #ccffff;
}

.C_66ffff{
    background-color: #66ffff;
}